{% extends 'base.html' %}
<!-------------------------------------------------------->
{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/cliente-especifico.css')}}">
{% endblock links %}
<!-------------------------------------------------------->
{% block content %}
<div class=" row justify-content-center">
    <div class="card mb-3" id="rowCard">
        <div class="row">
            <div class="col-4">
                <img src="../../static/imgs/vasos.webp" alt="Card image cap" class="rounded img-fluid">
            </div>
            <div class="col-8">
                <h5><strong class="color1">{{cliente.nome}}</strong></h5>
                <p class="color5"><strong>ID: {{cliente.id}}</strong></p>
                <hr>
                <div class="row">
                    <div class="col-5">
                        <strong class="color3">EMAIL: </strong>
                        <p class="color5">crmseukotler.com.br</p>
                        <strong class="color3">TELEFONE: </strong>
                        <p class="color5">(31) 9 9718-2001 </p>
                        <strong class="color3">PROSPECÇÃO: </strong>
                        <p class="color5">ATIVA </p>
                        <div class="form-group pl-0">
                        </div>
                        <p><strong class="color3 mb-3">HISTORICO DE STATUS: </strong></p>
                        <div class="container">
                            <div class="row">
                                <div class="col-6 pl-0">
                                    <p> Lead em:<br>{{cliente_dts_status[0]}}</p>
                                    <p> Qualificado em:<br>{{cliente_dts_status[1]}}</p>
                                    <p> Proposta Enviada em:<br>{{cliente_dts_status[2]}}</p>
                                </div>
                                <div class="col-6 pl-0">
                                    <p> Negociacao em:<br>{{cliente_dts_status[3]}}</p>
                                    <p> Ativo em:<br>{{cliente_dts_status[4]}}</p>
                                    <p> Perdido em:<br>{{cliente_dts_status[5]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 pl-0">
                        <strong class="color3">ENDERECO:</strong>
                        <p class="color5">Rua dos Expedicionarios 1134<br>Santa Amelia<br>Belo Horizonte</p>
                        <hr>
                        <button id="modalCliente" type="button" class="btn btn-outline-info">EDITAR INFORMAÇÕES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="rowCard">
        <div class="row justify-content-center">
            <div class="col-5 ml-3 mt-2">
                <p class=" mb-2"><strong class="color3">COMENTÁRIOS:</strong></p>
                {% for obs in cliente_observacoes%}
                <p class="color5 mb-1">{{obs}}</p>
                {% endfor %}
            </div>
            <div class="col-5 ml-3 mt-2">
                <div class="form-group pl-0">
                    <form>
                        <div class="form-group" style="width: auto;">
                            <label for="observacaoExtra" class=" color3"><strong>ADICIONAR COMENTÁRIOS:</strong></label>
                            <input type="text" class="form-control" id="observacaoExtra">
                        </div>
                        <button type="submit" class="btn btn-outline-info">Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <form action="" method="POST">
            <label for="">
                <p class="cadastro">NOME:
            </label><input type="text" name="cliente" id="nomecliente" placeholder="Nome do cliente" class="modal-form" /></p>
            <label for="">
                <p class="cadastro">EMAIL:
            </label><input type="text" name="email" id="email" placeholder="Email do cliente" class="modal-form" /></p>
            <label for="">
                <p class="cadastro">TELEFONE:
            </label><input type="text" name="telefone" id="telefone" placeholder="Telefone do cliente" class="modal-form" /></p>
            <label for="">
                <p class="cadastro">ENDEREÇO:
            </label><input type="text" name="endereco" id="endereco" placeholder="Endereço do cliente" class="modal-form" /></p>
            <button type="submit" class="btn btn-outline-info">Cadastrar</button>
            <label for="">
                <p class="cadastro">STATUS:
            </label><input type="text" name="status" id="status" placeholder="Status do cliente" class="modal-form" /></p>
            <label for="">
                <p class="cadastro">PROSPECÇÃO:
            </label><input type="text" name="prospeccao" id="prospeccao" placeholder="Prospecção" class="modal-form" /></p>
            <button id="botao" type="reset" class="btn btn-outline-danger">Cancelar</button>
        </form>
    </div>
</div>
<script>
    document.getElementById('modalCliente').addEventListener('click',
        function () {
            document.querySelector('.bg-modal').style.display = 'flex'
        });

    document.querySelector('.close').addEventListener('click',
        function () {
            document.querySelector('.bg-modal').style.display = 'none'
        });
    document.getElementById('botao').addEventListener('click',
        function () {
            document.querySelector('.bg-modal').style.display = 'none'
        });
</script>
{% endblock content%}
<!-------------------------------------------------------->